body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cont {
  display: flex;
  justify-content: space-around;
}

.filter-cont {
  margin: 30px;
  margin-bottom: 50px;
}

.my-form {
  margin: 30px;
  width: 80%;
}

.input-group {
display: flex;
justify-content: space-between;
margin: 20px;
}

input {
  width: 80%;
}
